<app-navbar></app-navbar>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Listado de películas</h1>
        <app-tabla-pelicula *ngIf="comoVer=='Tabla'" [listaRecibida]="listadoPeliculas" (detallarPelicula)="TomarPeliculaSeleccionada($event)"></app-tabla-pelicula>
        <app-pelicula-listado *ngIf="comoVer=='Listado'" [listaRecibida]="listadoPeliculas" (detallarPelicula)="TomarPeliculaSeleccionada($event)"></app-pelicula-listado>
        <!-- <p>Se deben utilizar tanto listado como grilla, con la posibilidad de intercalar la vista entre ambas.</p> -->
        <button type="button" (click)="CambiarLaVista()" [ngClass]="claseDeBoton" class="btn  btn-circle">{{comoVer}}<i class="fa fa-check"></i></button>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Para borrar</h2>
          <p>Aquí van los controles necesarios segun la entidad y funcionalidad requerida</p>
          <p><a class="btn btn-secondary" href="#" role="button">Borrar</a></p>
        </div>
        <div class="col-md-4">
          <h2>Solo mostrar</h2>
          <app-detalle-pelicula [peliculaSeleccionada]="peliculaActiva"></app-detalle-pelicula>

        </div>
        <div class="col-md-4">
          <h2>Modificar</h2>
          <p>Aquí van los controles necesarios segun la entidad y funcionalidad requerida</p>
          <p><a class="btn btn-secondary" href="#" role="button">Guardar cambios</a></p>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>

  <footer class="container">
    <p>&copy; Federico B. Nealon</p>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../../../assets/js/vendor/popper.min.js"></script>
  <script src="../../../../dist/js/bootstrap.min.js"></script>
