<div class="row" style="height: 350px; overflow: auto">
    <div class="col-md-2" *ngFor="let pelicula of listaRecibida">
        <img [src]="pelicula.fotoPelicula" style="width: 150px; height: 200px; display: flex; flex-wrap: wrap"
            alt="foto de la pelicula" />
            <h5>{{pelicula.nombre}}</h5>
            <br>
            {{pelicula.fechaEstreno}}
        <button class="btn btn-primary" style="margin: 10px 10px auto auto" (click)="seleccionarPelicula(pelicula)">
            Ver detalle
        </button>
    </div>
</div>